html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(charset='utf-8')
    title waterColor-fade
  body.game
    #wrapper.is-white
      #content.is-shadow
        #root
